@import "./base.scss";
$primary: #007fff; // 主题色
$TopHeight: 60px;
// $NavBarHeight: 8vh;
$NavBarHeight: 50px;
// $SubBarHeight: 12vh;
$SubBarHeight: 70px;
$ListHeight: 78vh; //为什么不能刚好拼接上？？？？？
$ArticleDetailsHeight: 92vh;
